<p id="notice"><%= notice %></p>

<p>
  <strong>Catagory name:</strong>
  <%= @catagory.catagory_name %>
</p>

<%= link_to 'Edit', edit_catagory_path(@catagory) %> |
<%= link_to 'Back', catagories_path %>
