<!DOCTYPE html>
<html>
  <head>
    <title>Spk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://localhost:3808/webpack-dev-server.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
